body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(black,yellow,green, blue);
}
body.h1{
    display: flex;
    justify-content: center;
    
}
.container{
    background-color: lightblue;
    padding: 35px;
    border-radius: 10px;
    width: 50%;
}
.registration{
    font-family: algerian;
    text-align: center;
    border-bottom: 3px dashed red;
}
form .container2{
    display: flex;
    flex-wrap: wrap;
}
form .container2 .inputbox{
    width: calc(100%/2-20px);
    margin: 10px;
}
form .container2 .inputbox input{
    height: 50px;
    width: 100%;
}
.lastinput{
    width: 100%;
    text-align: center;
    font-size: 25px;
    background-color: blue;
    color: aliceblue;
    border: none;
    font-size: 20px;
    height: 1cm;

}